:root {
    --color-1: #21265e;
    --accent-1: #777ecf;
    --accent-1a: #8c93e2;
    --accent-1b: #b0b7ff;
    --color-2: #176050;
    --accent-2: #48ab97;
    --accent-2a: #7adbc8;
  
    --default-shadow: 6px 6px 6px  #21265e9c;
}

a {
    color: white;
    font-size:24px;
    font-weight: 500;
    text-decoration: none;
    align-items:center;
    border-style:solid;
    border-color: var(--color-1);
    border-width: 2px;
    border-bottom-width: 5px;
}
a.app-link {
    font-size:18px;
    font-weight: 300;
    color: white;
    background-color: var(--accent-1);
    border-radius: 20px;
    padding: 5px 15px;
    max-width: 100px;
    border:none;
}
a.app-link:hover {
    color: val(--color-1);
    background-color:#b0b7ff;
}
a.code-link:hover {
    cursor:pointer;
}
a.footer-code-link {
    font-size:18px;
    font-weight:300;
    color:white;
    border:none;
    padding-left:10px;
}
a.footer-nav-link {
    font-size:18px;
    font-weight:300;
    color:white;
    border:none;
    padding-right:25px;
    padding-left:30px;
}
a.nav-link {
    color: white;
    font-size:28px;
    font-weight: 500;
    text-decoration: none;
    align-items:center;
    border-style:solid;
    border-color: var(--color-1);
    border-width: 2px;
    border-bottom-width: 5px;
}
a.nav-link:hover {
    color:white;
    cursor: pointer;
    border-style:solid;
    border-color: #48ab97;
    border-width: 2px;
    border-bottom-width: 5px;
    
}
a.nav-link.active  {
    color: var(--accent-2a);
    border-bottom-style:solid;
    border-bottom-color: #48ab97;
    border-bottom-width: 5px;
}
body {
    width:100%;
    height:100%;
    font-family: 'Urbanist', sans-serif;
    color: var(--color-1);
    padding-top:170px;
    background-color: white;    
}
footer {
 background-color: var(--color-1);
 line-height:65px;
 border-top-style:solid;
 border-top-width: 10px;
 border-top-color: var(--accent-2);
}
h1 {
    font-size:100px;
    font-weight:900;

}
h2 {
    font-size: 40px;
    line-height:44px;
    font-weight:900; 
}
h3 {
    font-weight: 700;
}
ul {

    list-style:none;
}


.lower-line {
    margin-bottom:30px;
}
.bg-head-blue {
    color:white;
    background-color: var(--color-1);
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom:10px solid #48ab97;
  }
.bg-foot-blue {
    color:white;
    background-color: var(--color-1);
    margin-bottom: 0;
    padding-bottom: 0;
    border-top:10px solid #48ab97; 
}
.bg-blue {
    background-color:#777ecf2c;
}
.bg-green {
    background-color: #7adbc842;
}
.body-text {
    font-size:22px;
    text-justify: inter-word;
    margin-bottom:0;
    padding-top:10px;
    font-weight:300;
    word-spacing: 3px;
}
.card {
    border-style:solid;
    border-color:white;
    border-width:10px;
    border-radius:10px;
}
.card-text {
    font-size: 22px;
}
.card-title {
    color:var(--accent-2);
    font-weight:700;
    font-size:30px;
}
.contact {
    font-size: 38px;
    line-height: 50px;
    margin-left: 40px;
    color: var(--color-1);    
  }
.contact-address {
    color: var(--color-1);
    font-weight: 700;
    border-style: none;
    padding-left: 15px;
  } 
.contact-address:hover {
    background-color: var(--accent-3a);
    cursor: pointer;
  }
.contact-icon {
    height: 40px;
    border-radius: 12px;
  }
.contact-item {
    line-height: 55px;
    padding-left: 80px;
}
.contact-info {
    border-image: linear-gradient(90deg,#7adbc8 0%,#8c93e2 50%,#21265e 100%) 30;
    border-width: 12px;
    border-style: solid;
    text-align:left;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact-link {
    background-color:var(--color-1);
    border-radius: 10px;
    border-style: solid;
    border-width:2px;
    border-color: var(--accent-1);
    color: var(--accent-2a);
    font-size: 28px;
    font-weight:500;
    text-align: center;
    padding: 6px 6px;
    max-width:100%;
    margin-top:20px;
}
.content {
    padding-top: 70px;
}
.content-img {
    max-width: 526px;
    height:auto;
    border-radius: 5px;
    border-style:solid;
    border-color:white;
    border-width:15px;
}

.content-title {
    color:var(--color-1);
    font-size:98px;
    line-height:100px;
}
.footer-text {
    font-size: 18px;
    color:white;
    word-spacing: 5px;
    padding-left:20px;
}
.name {
    font-weight:700;
    color:var(--accent-2);
}
.profile-pic {
    border-color:var(--color-1);
    border-radius: 8px;
    max-height: auto;
    max-width: 80%;     
}
.projects-title {
    color:var(--accent-1);
    font-weight:700;
    font-size:38px;
}
.social-icon {
    max-height: 40px;
    margin-bottom: 0px;
    margin-right:30px;
  }
.subheading {
    font-weight: 700;
}
.subtitle {
    font-size: 65px;
    line-height:100px;
    font-weight:900;
}
.title-textbox{
    display: inline-flex;
    flex-direction: column;
    max-width:100%;
}
.title {
    font-size: 150px;
    line-height: 120px;
    color: var(--accent-1);
    letter-spacing: -2px;    
}


#footer-about {
    font-size:16px;
    color: var(--accent-1);
    border-style: none;
}
#footer-portfolio {
    font-size:16px;
    color: var(--accent-1);
    border-style: none;
}
#footer-blog {
    font-size:16px;
    color: var(--accent-1);
    border-style: none;
}
#footer-contact {
    font-size:16px;
    color: var(--accent-1);
    border-style: none;
}

#linkedin {
    max-height: 38px;
    margin-bottom: 0px;
    margin-left:60px;
    margin-right:30px;
}
#logo {
    max-height: 60px;
    border-radius: 4px;
    margin-left: 50px;
    margin-right:0;
    padding-bottom:5px;
  }
#logo2 {
    max-height: 50px;
    border-radius: 4px;
    padding-bottom:0px;
  }
